@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@600&family=Sacramento&display=swap');
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 72px 240px 1fr 232px;
    background-color: gray;
    grid-template-rows: 100vh;

}

.left {

    background-color: #1e1f22;

}

.l-left {

    background-color: #2b2d31;

}

.right-top {
    background-color: #313338 !important;
}

.middle {

    background-color: #313338;

}

.right-middle {
    background-color: #2b2d31;
}


.servername {
    border-bottom: 1px solid #1b1b1d;
    height: 48px;
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
}

.serverch {
    height: calc(100vh - 96px);
    

}

.servers a:hover {
    background-color: #5865f2;
}

.servers p {
    font-size: 10px;
    font-weight: 100;
    color: #949BA4;

}

.servers {
    transition: all 0.24s ease-in-out;
}

.servers a {
    overflow: hidden;
    transition: all 0.24s ease-in-out;
}

.servers a:hover {
    border-radius: 16px;

}

.username {
    height: 48px;
    
}

.servers .middle-top {
    height: 48px;
   
}

.middle-middle {
    height: calc(100vh - 116px);
    border-top: 1px solid #272728;;
}

.middle-bottom {
    height: 68px;
    

}

.right-top {
    
    height: 48px;
}

.right-middle {
    height: calc(100vh - 48px);
}

.left a {
    height: 48px;
    width: 48px;
    background-color: #2b2d31;
    border-radius: 50%;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;

}

.servers a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


}

.servers {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.servers a {
    text-decoration: none;

}

.servers {
    gap: 12px;
}

.servers i {
    transform: scale(1.86);

}

.servers .a:hover {
    background-color: #edfc2c;
}

.servers .bx-plus,
.bxs-compass {
    color: inherit;
}

.serversurname {
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
}

.textchat {
    font-size: 12px;
    color: #949BA4;
}

.ch1 .bx {
    color: #949BA4;
    transform: scale(0.5);
}

.ch1-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch1 {
    display: flex;
    justify-content: space-between;

}

.ch2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ch2-left i {
    font-size: 23px;
    color: #949BA4;

}

.textchat1 {
    color: #949BA4;
    font-size: 16px;
}

.ch2-right .bx {
    color: #949BA4;
    font-size: 16px;
}

.ch2-left {
    font-size: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    gap: 5px;

}

.ch2-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    right: 9px;
    position: absolute;
}

/* aa */
.ch3 .bx {
    color: #949BA4;
    transform: scale(0.5);
}

.ch3-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ch3 {
    display: flex;
    justify-content: space-between;

}

.ch4 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ch4-left i {
    font-size: 23px;
    color: #949BA4;

}

.textchat1 {
    color: #949BA4;
    font-size: 16px;
}

.ch4-right .bx {
    color: #949BA4;
    font-size: 16px;
}

.ch4-left {
    font-size: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    gap: 5px;

}

.ch4-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    right: 9px;
    position: absolute;
}

.ch4-left .bxs-volume-full {
    font-size: 16px !important;
}

.ch4 {
    position: absolute;
    top: 116px;
}

.ch3 {
    position: absolute;
    top: 77px;
}

.serverch {
    position: relative;
}

.username-left-left img {
    height: 35px;
    width: auto;
}

.username-left {
    display: flex;
    gap: 8px;
}

.username-left-right h1 {
    font-size: 13px;
    color: white;
    font-weight: 100;
}

.username-left-right p {
    font-size: 11px;
    color: #949BA4;
    font-weight: 100;
}

.username-right {
    display: flex;
    gap: 16px;

    align-items: center;
}

.username {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #232428;

}

.username-right i {
    transform: scale(1.38);
    color: #949BA4;
}

.username-left-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-left-right {
    display: flex;
    align-items: center;
}

.middle-left i {
    color: #949BA4;
    transform: scale(1.8);
}

.middle-left p {
    color: white;
}

.middle-top {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-between;

}

.middle-right i {
    transform: scale(1.46);
    color: #949BA4;

}

.mid {
    display: flex;
    gap: 10px;
    margin-left: 18px;
    align-items: center;

}

.mid .bx-hash {
    text-align: center;
}

.middle-right {
    display: flex;
    gap: 25px;
    margin-right: 16px;
}

/* aaaaaaaa */
.middle-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: transparent
}


.middle-bottom .middle-alls {
    width: 95%;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #383a40;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
}

.middle-alls>i {
    margin-left: 20px;
}

.middle-bottom .middle-alls input {
    height: 70%;
    outline: none;
    border-radius: 8px;
    width: 75%;
    background-color: transparent;
    border: none;
}

.bxs-download,
.bxs-compass,
.hov>.bx-plus {
    color: #23a559 !important;
}

.hov {
    transition: all 1s ease-in-out;
}

.hov:hover {
    background-color: #23a559 !important;
}

.hov:hover i {
    color: white !important
}




#inp {
    margin-left: 20px;
    margin-right: 30px;
}

.middle-alls .right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #383a40;
    width: 20%;
    gap: 20px;
}

.middle-alls i {
    color: #949BA4;
    transform: scale(1.56);
}

.right-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rtsearch {
    width: 130px;
    height: 24px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #1e1f22;
    padding-left: 7px;
    transition: 0.2s all ease-in-out;
    color: white;
}
.rtsearch::placeholder{
    color:#949BA4;
}
.rtinput {
    display: flex;
    align-items: center;


}


.iler {
    color: #949BA4;
    transform: scale(1.6);
    margin-right: 10px;

}

.right-middle img {
    height: 34px;
    width: 34px;
}

.right-middle h1 {
    font-size: 13px;
    color: #949BA4;
    font-weight: 100;
}

.hürremm {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 8px 0px;
}

.hürremm p {
    color: #949BA4;
    font-weight: 100;
}

.bxs-crown {
    color: orange;
}

.zeus {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right-middle{
padding: 15px 0 0 20px;

}
.rtinput{
    position: relative;
}
.rtinput i{
    position: absolute;
    right: 7px;
    color: #949BA4;
}
.rtsearch:focus{
width: 160px;

}